1. Importer tous les packages.

In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /Users/ziyad/anaconda3/envs/databird/lib/python3.10/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /Users/ziyad/anaconda3/envs/databird/lib/python3.10/site-packages (from openpyxl) (1.1.0)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl
import datetime as dt

/var/folders/cb/bj1vm0j10qq_w8shkd29yph00000gn/T/ipykernel_12822/2049415031.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

2. importer les dossiers

In [3]:
members = pd.read_excel('/Users/ziyad/Desktop/Projet ACPE/Tables/Member.xlsx', na_values='')
membergroup = pd.read_excel('/Users/ziyad/Desktop/Projet ACPE/Tables/MemberGroup.xlsx',na_values='')
membercountry = pd.read_excel('/Users/ziyad/Desktop/Projet ACPE/Tables/MemberCountry.Revised.xlsx', na_values='')
sex = pd.read_excel('/Users/ziyad/Desktop/Projet ACPE/Tables/Sex.xlsx', na_values='')
groups = pd.read_excel('/Users/ziyad/Desktop/Projet ACPE/Tables/Groups.xlsx',na_values='' )
country = pd.read_excel('/Users/ziyad/Desktop/Projet ACPE/Tables/Country.xlsx',na_values='')
countrystatus = pd.read_excel('/Users/ziyad/Desktop/Projet ACPE/Tables/CountryStatus.xlsx',na_values='')
adhesionAPCE = pd.read_excel('/Users/ziyad/Desktop/Projet ACPE/Tables/Adhesions_apce.xlsx',na_values='')
adhesionAPCE = adhesionAPCE.rename(columns={"Pays": "CountryNameFR"})

In [4]:
datebirth = pd.read_excel('/Users/ziyad/Desktop/Projet ACPE/Tables/datebirth.xlsx')
datebirth1 = datebirth[['MemberGroupID', 'DateOfBirth']]

In [5]:
members.shape, membergroup.shape, membercountry.shape, groups.shape, country.shape, countrystatus.shape, adhesionAPCE.shape

((7917, 11), (4472, 6), (3589, 9), (12, 10), (70, 12), (8, 6), (46, 3))

3. fusionner tous les dossiers

In [6]:
result1 = pd.merge(members, membergroup, how="left", on="MemberID")

In [7]:
result2 = pd.merge(result1, sex, how="left", on="SexID")

In [8]:
result3 = pd.merge(result2, membercountry, how="left", on="MemberID")

In [9]:
result4 = pd.merge(result3, country, how="left", on="CountryID")

In [10]:
result5 = pd.merge(result4, groups, how="left", on="GroupID")

In [11]:
result6 = pd.merge(result5, countrystatus, how="left", on="StatusID")

In [12]:
result = pd.merge(result6, adhesionAPCE, how="left", on="CountryNameFR")

In [13]:
result.shape

(11315, 53)

In [14]:
result.dtypes

MemberID                            int64
Title                              object
Name                               object
Particule                          object
Firstname                          object
NameNoAccents                      object
FirstnameNoAccents                 object
DateOfBirth                        object
DateOfDeath                datetime64[ns]
Party                              object
SexID                               int64
MemberGroupID                     float64
GroupID                           float64
RoleID_x                          float64
DateIn_x                   datetime64[ns]
DateOut_x                  datetime64[ns]
SexEN                              object
SexFR                              object
MemberCountryID                   float64
CountryID                         float64
RoleID_y                          float64
DateIn_y                   datetime64[ns]
DateOut_y                  datetime64[ns]
MemberCountryOrder                float64
ZZGroupId                         float64
ZZStatusId                        float64
CountryISO                         object
StatusID                          float64
Active_x                          float64
CountryNameEN                      object
CountryNameFR                      object
CountryAbreviation                 object
NumRep                            float64
NumSubst                          float64
CountryFreeText                    object
SortOrder                         float64
Rule133                            object
GroupCode                          object
GroupNameFR                        object
GroupNameEN                        object
GroupAbrevFR                       object
GroupAbrevEN                       object
GroupOrder                        float64
NewGroupID                        float64
OldGroupID                        float64
Active_y                           object
StatusNameEN                       object
StatusNameFR                       object
StatusAbbrevEN                     object
StatusAbbrevFR                     object
XmlChapterAttributeName            object
date_d_adhesion                    object
Nombre_de_delegues_APCE           float64
dtype: object

In [15]:
result.isna().sum()

MemberID                       0
Title                        164
Name                           0
Particule                  11117
Firstname                     17
NameNoAccents                  0
FirstnameNoAccents            15
DateOfBirth                  380
DateOfDeath                10997
Party                        164
SexID                          0
MemberGroupID               5315
GroupID                     5315
RoleID_x                    5315
DateIn_x                    5315
DateOut_x                   6091
SexEN                          0
SexFR                          0
MemberCountryID             4981
CountryID                   4981
RoleID_y                    4981
DateIn_y                    4981
DateOut_y                   6057
MemberCountryOrder          4981
ZZGroupId                  11315
ZZStatusId                 11315
CountryISO                  4981
StatusID                    4981
Active_x                    4981
CountryNameEN               4981
CountryNameFR               4981
CountryAbreviation          4981
NumRep                      4986
NumSubst                    4986
CountryFreeText             8903
SortOrder                   4981
Rule133                     4981
GroupCode                   5315
GroupNameFR                 5315
GroupNameEN                 5315
GroupAbrevFR                5315
GroupAbrevEN                5315
GroupOrder                  5315
NewGroupID                  9662
OldGroupID                  8851
Active_y                    5315
StatusNameEN                4981
StatusNameFR                4981
StatusAbbrevEN              4983
StatusAbbrevFR              4983
XmlChapterAttributeName     4983
date_d_adhesion             6185
Nombre_de_delegues_APCE     6185
dtype: int64

4. Garder les colonnes qu'on a besoin, et les mettre dans l'ordre

In [16]:
copy_result = result.copy()

In [17]:
copy_result.shape

(11315, 53)

In [18]:
copy_result.columns

Index(['MemberID', 'Title', 'Name', 'Particule', 'Firstname', 'NameNoAccents',
       'FirstnameNoAccents', 'DateOfBirth', 'DateOfDeath', 'Party', 'SexID',
       'MemberGroupID', 'GroupID', 'RoleID_x', 'DateIn_x', 'DateOut_x',
       'SexEN', 'SexFR', 'MemberCountryID', 'CountryID', 'RoleID_y',
       'DateIn_y', 'DateOut_y', 'MemberCountryOrder', 'ZZGroupId',
       'ZZStatusId', 'CountryISO', 'StatusID', 'Active_x', 'CountryNameEN',
       'CountryNameFR', 'CountryAbreviation', 'NumRep', 'NumSubst',
       'CountryFreeText', 'SortOrder', 'Rule133', 'GroupCode', 'GroupNameFR',
       'GroupNameEN', 'GroupAbrevFR', 'GroupAbrevEN', 'GroupOrder',
       'NewGroupID', 'OldGroupID', 'Active_y', 'StatusNameEN', 'StatusNameFR',
       'StatusAbbrevEN', 'StatusAbbrevFR', 'XmlChapterAttributeName',
       'date_d_adhesion', 'Nombre_de_delegues_APCE'],
      dtype='object')

In [19]:
df_final = copy_result[['MemberID','MemberGroupID','RoleID_x','Firstname','Name','SexFR','CountryNameFR','StatusNameFR','DateOfBirth', 'DateOfDeath', 'Party','DateIn_x',
'DateOut_x','GroupNameFR','GroupAbrevFR','GroupCode','Active_x']].copy()
df_final

,MemberID,MemberGroupID,RoleID_x,Firstname,Name,SexFR,CountryNameFR,StatusNameFR,DateOfBirth,DateOfDeath,Party,DateIn_x,DateOut_x,GroupNameFR,GroupAbrevFR,GroupCode,Active_x
0,1,NaN,NaN,Frank,AIKEN,Homme,NaN,NaN,1898-02-13 00:00:00,NaT,Fianna Fail,NaT,NaT,NaN,NaN,NaN,NaN
1,2,NaN,NaN,Atalay,AKAN,Homme,NaN,NaN,NaN,NaT,république populaire,NaT,NaT,NaN,NaN,NaN,NaN
2,3,NaN,NaN,Kristen,AMBY,Femme,NaN,NaN,1894-03-04 00:00:00,NaT,Conservative,NaT,NaT,NaN,NaN,NaN,NaN
3,4,NaN,NaN,Nicolas,ANTONOPOULOS,Homme,NaN,NaN,1931-01-01 00:00:00,NaT,Populiste,NaT,NaT,NaN,NaN,NaN,NaN
4,5,NaN,NaN,Giuseppe,ASQUINI,Homme,NaN,NaN,1901-08-19 00:00:00,NaT,Dém. Chr.,NaT,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11310,8901,10073.0,5.0,Esther,GIL DE REBOLEÑO,Femme,Espagne,Membre,1973-02-28 00:00:00,NaT,Movimiento Sumar,2024-01-22,NaT,Groupe pour la gauche unitaire européenne,GUE,G5,1.0
11311,8902,10078.0,5.0,Eva,ORTIZ,Femme,Espagne,Membre,1975-10-16 00:00:00,NaT,Partido Popular,2024-01-22,NaT,Groupe du Parti populaire européen,PPE/DC,G2,1.0
11312,8903,10079.0,5.0,Pedro,ROLLÁN,Homme,Espagne,Membre,1969-03-21 00:00:00,NaT,Partido Popular,2024-01-22,NaT,Groupe du Parti populaire européen,PPE/DC,G2,1.0
11313,8904,10068.0,5.0,Alfonso,RODRÍGUEZ,Homme,Espagne,Membre,1970-07-29 00:00:00,NaT,PSOE,2024-01-22,NaT,"Groupe des socialistes, démocrates et verts",SOC,G11,1.0
11314,8905,NaN,NaN,Scott,TANNAS,Homme,Canada,Observateur,NaN,NaT,Canadian Senators Group,NaT,NaT,NaN,NaN,NaN,1.0

In [20]:
df_final[(df_final['Firstname'] == 'Harry') & (df_final['Name'] == 'RANDALL')]

,MemberID,MemberGroupID,RoleID_x,Firstname,Name,SexFR,CountryNameFR,StatusNameFR,DateOfBirth,DateOfDeath,Party,DateIn_x,DateOut_x,GroupNameFR,GroupAbrevFR,GroupCode,Active_x
635,704,NaN,NaN,Harry,RANDALL,Homme,NaN,NaN,00:00:00,NaT,Labour,NaT,NaT,NaN,NaN,NaN,NaN

In [21]:
df_final['DateOfBirth'] = df_final['DateOfBirth'].astype(str)

In [22]:
df_final = df_final.replace('00:00:00',  '1899-12-31 00:00:00')
df_final[(df_final['Firstname'] == 'Harry') & (df_final['Name'] == 'RANDALL')]

,MemberID,MemberGroupID,RoleID_x,Firstname,Name,SexFR,CountryNameFR,StatusNameFR,DateOfBirth,DateOfDeath,Party,DateIn_x,DateOut_x,GroupNameFR,GroupAbrevFR,GroupCode,Active_x
635,704,NaN,NaN,Harry,RANDALL,Homme,NaN,NaN,1899-12-31 00:00:00,NaT,Labour,NaT,NaT,NaN,NaN,NaN,NaN

In [23]:
df_final.dtypes

MemberID                  int64
MemberGroupID           float64
RoleID_x                float64
Firstname                object
Name                     object
SexFR                    object
CountryNameFR            object
StatusNameFR             object
DateOfBirth              object
DateOfDeath      datetime64[ns]
Party                    object
DateIn_x         datetime64[ns]
DateOut_x        datetime64[ns]
GroupNameFR              object
GroupAbrevFR             object
GroupCode                object
Active_x                float64
dtype: object

In [24]:
df_final1 = df_final.dropna(subset=['DateOfBirth','DateIn_x'])

In [25]:
df_final1.shape

(6000, 17)

In [26]:
df_final1.sort_values(by='Name')

,MemberID,MemberGroupID,RoleID_x,Firstname,Name,SexFR,CountryNameFR,StatusNameFR,DateOfBirth,DateOfDeath,Party,DateIn_x,DateOut_x,GroupNameFR,GroupAbrevFR,GroupCode,Active_x
6102,6261,1643.0,5.0,Frank,AAEN,Homme,Danemark,Membre,1951-07-25 00:00:00,NaT,The Unity List - The Red-Green Alliance,2008-01-21,2011-11-25,Groupe pour la gauche unitaire européenne,GUE,G5,1.0
11245,8838,9959.0,5.0,Pauli,AALTO-SETÄLÄ,Homme,Finlande,Membre,1966-05-06 00:00:00,NaT,National Coalition Party,2023-10-09,NaT,Groupe du Parti populaire européen,PPE/DC,G2,1.0
8531,7255,3209.0,5.0,Damien,ABAD,Homme,France,Membre,1980-04-05 00:00:00,NaT,Les Républicains,2014-05-23,2019-12-10,Groupe du Parti populaire européen,PPE/DC,G2,1.0
5276,5689,815.0,5.0,Aydin,ABBASOV,Homme,Azerbaïdjan,Membre,1976-08-26 00:00:00,NaT,Independent,2006-01-23,2015-06-10,Groupe socialiste,SOC,G1,1.0
5277,5689,3844.0,5.0,Aydin,ABBASOV,Homme,Azerbaïdjan,Membre,1976-08-26 00:00:00,NaT,Independent,2015-06-11,2016-01-24,Alliance des démocrates et des libéraux pour l...,ADLE,G4,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10615,8320,5811.0,5.0,Miroslav,ŽIAK,Homme,République slovaque,Membre,1987-11-27 00:00:00,NaT,SaS,2020-06-26,2022-06-21,Groupe des Conservateurs européens et Alliance...,CE/AD,G12,1.0
10616,8320,8453.0,5.0,Miroslav,ŽIAK,Homme,République slovaque,Membre,1987-11-27 00:00:00,NaT,SaS,2022-06-22,2023-01-22,Alliance des démocrates et des libéraux pour l...,ADLE,G4,1.0
9595,7717,4419.0,5.0,Corneliu,ȘTEFAN,Homme,Roumanie,Membre,1982-01-30 00:00:00,NaT,Social Democratic Party,2017-04-24,2017-07-31,Groupe socialiste,SOC,G1,1.0
9596,7717,4670.0,5.0,Corneliu,ȘTEFAN,Homme,Roumanie,Membre,1982-01-30 00:00:00,NaT,Social Democratic Party,2017-08-01,2019-01-20,"Groupe des socialistes, démocrates et verts",SOC,G11,1.0
10728,8410,7023.0,5.0,Marius-Horia,ȚUȚUIANU,Homme,Roumanie,Membre,1976-09-01 00:00:00,NaT,Social Democratic Party,2021-03-19,NaT,"Groupe des socialistes, démocrates et verts",SOC,G11,1.0

In [27]:
df_final3 = df_final.dropna(subset=['DateIn_x'])

In [28]:
df_final3.shape

(6000, 17)

In [29]:
df_final3[['DateOfBirth','DateIn_x','DateOut_x']] = df_final3[['DateOfBirth','DateIn_x','DateOut_x']].astype('datetime64[ns]')

/var/folders/cb/bj1vm0j10qq_w8shkd29yph00000gn/T/ipykernel_12822/3241391673.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final3[['DateOfBirth','DateIn_x','DateOut_x']] = df_final3[['DateOfBirth','DateIn_x','DateOut_x']].astype('datetime64[ns]')

In [30]:
df_final3.dtypes

MemberID                  int64
MemberGroupID           float64
RoleID_x                float64
Firstname                object
Name                     object
SexFR                    object
CountryNameFR            object
StatusNameFR             object
DateOfBirth      datetime64[ns]
DateOfDeath      datetime64[ns]
Party                    object
DateIn_x         datetime64[ns]
DateOut_x        datetime64[ns]
GroupNameFR              object
GroupAbrevFR             object
GroupCode                object
Active_x                float64
dtype: object

In [31]:
df_final3['DateOfBirth'].isna().sum()

30

In [32]:
complet_datebirth = df_final3[df_final3['DateOfBirth'].isna()]

In [33]:
pd.to_datetime(df_final1['DateOfBirth'])

1482    1938-05-31
1483    1938-05-31
1484    1938-05-31
1485    1938-05-31
1486    1938-05-31
           ...
11309   1958-10-06
11310   1973-02-28
11311   1975-10-16
11312   1969-03-21
11313   1970-07-29
Name: DateOfBirth, Length: 6000, dtype: datetime64[ns]

In [34]:
df_final1[(df_final1['Firstname'] == 'Harry') & (df_final1['Name'] == 'RANDALL')]

Empty DataFrame
Columns: [MemberID, MemberGroupID, RoleID_x, Firstname, Name, SexFR, CountryNameFR, StatusNameFR, DateOfBirth, DateOfDeath, Party, DateIn_x, DateOut_x, GroupNameFR, GroupAbrevFR, GroupCode, Active_x]
Index: []

Vérifier la fiabilité des données d'origine: 
Méthode : vérifier s'il y a des gens qui ont la DateOut, mais la DateIn est très ancien.

In [35]:
df_final1[['DateOfBirth','DateIn_x', 'DateOut_x']].isna().sum()

DateOfBirth      0
DateIn_x         0
DateOut_x      776
dtype: int64

In [36]:
drop_duplicate = df_final1.drop_duplicates(subset=['MemberGroupID'])
drop_duplicate.shape

(4471, 17)

In [37]:
datebirth1

    MemberGroupID  DateOfBirth
0            1981         1971
1            2623         1960
2            2627         1961
3            2730         1957
4            3480         1957
5            3061         1974
6            3061         1974
7            9956         1974
8            9956         1974
9            3227         1962
10           3546         1962
11           3229         1963
12           4074         1951
13           4329         1966
14           4428         1966
15           5303         1979
16           5481         1969
17           5483         1981
18           5487         1965
19           5489         1981
20           6999         1981
21           5796         1970
22           5851         1975
23           9960         1975
24           9955         1974
25           9961         1974
26           9962         1975
27           9963         1980
28           9950         1982
29          10035         1973

In [38]:
complet_fiche = pd.merge(drop_duplicate, datebirth1, how='left', on='MemberGroupID')

In [39]:
def remplacer_nan_par_annee(row):
    if pd.isna(row['DateOfBirth']):
        # Récupérer l'année correspondante de datebirth1
        annee = datebirth1.loc[row.name, 'DateOfBirth'].year
        return annee
    else:
        return row['DateOfBirth']
    

drop_duplicate['DateOfBirth'] = drop_duplicate.apply(remplacer_nan_par_annee, axis=1)


drop_duplicate

/var/folders/cb/bj1vm0j10qq_w8shkd29yph00000gn/T/ipykernel_12822/2383496486.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_duplicate['DateOfBirth'] = drop_duplicate.apply(remplacer_nan_par_annee, axis=1)

,MemberID,MemberGroupID,RoleID_x,Firstname,Name,SexFR,CountryNameFR,StatusNameFR,DateOfBirth,DateOfDeath,Party,DateIn_x,DateOut_x,GroupNameFR,GroupAbrevFR,GroupCode,Active_x
1482,1639,1458.0,3.0,John,PRESCOTT,Homme,Royaume-Uni,Membre,1938-05-31 00:00:00,NaT,Labour,2007-10-01,2012-01-22,Groupe socialiste,SOC,G1,1.0
1485,1639,2416.0,5.0,John,PRESCOTT,Homme,Royaume-Uni,Membre,1938-05-31 00:00:00,NaT,Labour,2012-01-23,2015-11-07,Groupe socialiste,SOC,G1,1.0
1488,1639,3948.0,5.0,John,PRESCOTT,Homme,Royaume-Uni,Membre,1938-05-31 00:00:00,NaT,Labour,2015-11-27,2017-07-31,Groupe socialiste,SOC,G1,1.0
1491,1639,4588.0,5.0,John,PRESCOTT,Homme,Royaume-Uni,Membre,1938-05-31 00:00:00,NaT,Labour,2017-08-01,2020-06-03,"Groupe des socialistes, démocrates et verts",SOC,G11,1.0
1874,2061,3603.0,5.0,David,ATKINSON,Homme,NaN,NaN,1940-03-24 00:00:00,2012-01-22,Conservative,1979-05-07,1986-04-21,Groupe démocrate européen,GDE,G7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11309,8900,10067.0,5.0,Guillermo,FERNÁNDEZ VARA,Homme,Espagne,Membre,1958-10-06 00:00:00,NaT,PSOE,2024-01-22,NaT,"Groupe des socialistes, démocrates et verts",SOC,G11,1.0
11310,8901,10073.0,5.0,Esther,GIL DE REBOLEÑO,Femme,Espagne,Membre,1973-02-28 00:00:00,NaT,Movimiento Sumar,2024-01-22,NaT,Groupe pour la gauche unitaire européenne,GUE,G5,1.0
11311,8902,10078.0,5.0,Eva,ORTIZ,Femme,Espagne,Membre,1975-10-16 00:00:00,NaT,Partido Popular,2024-01-22,NaT,Groupe du Parti populaire européen,PPE/DC,G2,1.0
11312,8903,10079.0,5.0,Pedro,ROLLÁN,Homme,Espagne,Membre,1969-03-21 00:00:00,NaT,Partido Popular,2024-01-22,NaT,Groupe du Parti populaire européen,PPE/DC,G2,1.0
11313,8904,10068.0,5.0,Alfonso,RODRÍGUEZ,Homme,Espagne,Membre,1970-07-29 00:00:00,NaT,PSOE,2024-01-22,NaT,"Groupe des socialistes, démocrates et verts",SOC,G11,1.0

In [40]:
for_graphique = pd.read_excel('/Users/ziyad/Desktop/Projet ACPE/Tables/for_graphique.xlsx')

In [41]:
for_graphique['YearOut'] = for_graphique['YearOut'].fillna(0)

In [42]:
def keep_rows_year(row, year):
    if row['YearOut']:
        return (year <= row['YearOut']) & (year >= row['YearIn'])
    else:
        return (year >= row['YearIn'])

In [43]:
for_graphique[for_graphique.apply(keep_rows_year, args=(2023,), axis=1)]

,nometpenom,nom,prenom,MemberID,MemberGroupID,SexFR,StatusNameFR,DateOut,YearOut,GroupNameFR,GroupAbrevFR,GroupCode,DateIn,YearIn,BirthYear,CountryNameFR,age_in_position
0,BUSHKAKlotilda,BUSHKA,Klotilda,7798,9751.0,Femme,Membre,NaN,0.0,"Groupe des socialistes, démocrates et verts",SOC,G11,2023-01-23 00:00:00,2017,1979,Albanie,38
1,GJONAJEtilda,GJONAJ,Etilda,6607,8281.0,Femme,Membre,NaN,0.0,"Groupe des socialistes, démocrates et verts",SOC,G11,2022-01-24 00:00:00,2022,1981,Albanie,41
2,GJYLAMETIBlerina,GJYLAMETI,Blerina,5634,10132.0,Femme,Membre,NaN,0.0,"Groupe des socialistes, démocrates et verts",SOC,G11,2024-01-22 00:00:00,2022,1980,Albanie,42
3,MARAAurora,MARA,Aurora,6759,8284.0,Femme,Membre,NaN,0.0,"Groupe des socialistes, démocrates et verts",SOC,G11,2022-01-24 00:00:00,2022,1978,Albanie,44
4,TABAKUJorida,TABAKU,Jorida,2919,8293.0,Femme,Membre,NaN,0.0,Groupe du Parti populaire européen,PPE/DC,G2,2022-01-24 00:00:00,2022,1979,Albanie,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9616,GASHIArben,GASHI,Arben,8447,NaN,Homme,Autres délégations,NaN,0.0,NaN,NaN,NaN,NaN,2021,1976,Assemblée du Kosovo*,45
9619,KERVANEnis,KERVAN,Enis,8451,NaN,Homme,Autres délégations,NaN,0.0,NaN,NaN,NaN,NaN,2022,1979,Assemblée du Kosovo*,43
9620,MUSLIU-SHOSHIAriana,MUSLIU-SHOSHI,Ariana,8501,NaN,Femme,Autres délégations,NaN,0.0,NaN,NaN,NaN,NaN,2022,1985,Assemblée du Kosovo*,37
9621,TAHIRIBesnik,TAHIRI,Besnik,8502,NaN,Homme,Autres délégations,NaN,0.0,NaN,NaN,NaN,NaN,2022,1975,Assemblée du Kosovo*,47
9622,SIMIĆIgor,SIMIĆ,Igor,8503,NaN,Homme,Autres délégations,NaN,0.0,NaN,NaN,NaN,NaN,2022,1986,Assemblée du Kosovo*,36

  groupe_politique = df_year[df_year['GroupNameFR'] ]

In [44]:
#dic = {}
#for year in range(1950, 2024):
   # print(year)
    #df_year = for_graphique[for_graphique.apply(keep_rows_year, args=(year,), axis=1)]
    #nb_hommes = df_year[df_year['SexFR'] == 'Homme'].shape[0]
    #nb_femmes = df_year[df_year['SexFR'] == 'Femme'].shape[0]
    #dic[year] = (nb_hommes, nb_femmes)

In [45]:
for_graphique['GroupNameFR'] = for_graphique['GroupNameFR'].fillna('Non-affiliated')
dic = {}
for year in range(1950, 2024):
    print(year)
    df_year = for_graphique[for_graphique.apply(keep_rows_year, args=(year,), axis=1)]
    for group in df_year['GroupNameFR'].unique():
        df_group = df_year[df_year['GroupNameFR'] == group]
        nb_hommes = df_group[df_group['SexFR'] == 'Homme'].shape[0]
        nb_femmes = df_group[df_group['SexFR'] == 'Femme'].shape[0]
        dic[(year, group)] = (nb_hommes, nb_femmes)

1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023

In [46]:
df_bernard = pd.DataFrame(dic)

In [47]:
df_bernard = df_bernard.T

In [48]:
df_bernard

                                                            0    1
1950 Non-affiliated                                       145   14
1951 Non-affiliated                                       153   11
1952 Non-affiliated                                       172   10
1953 Non-affiliated                                       188   11
1954 Non-affiliated                                       243   14
...                                                       ...  ...
2023 Groupe des Conservateurs européens et Alliance ...    97   54
     Groupe pour la gauche unitaire européenne             32   24
     Alliance des démocrates et des libéraux pour l'...    73   62
     Membres n'appartenant à aucun groupe politique        62   44
     Non-affiliated                                      1929  316

[467 rows x 2 columns]

In [49]:
df_bernard = df_bernard.reset_index()

In [50]:
df_bernard[df_bernard['level_0'] == 2022]

     level_0                                            level_1     0    1
453     2022        Groupe des socialistes, démocrates et verts   164  120
454     2022                 Groupe du Parti populaire européen   126   96
455     2022  Groupe des Conservateurs européens et Alliance...    94   40
456     2022          Groupe pour la gauche unitaire européenne    47   25
457     2022  Alliance des démocrates et des libéraux pour l...    79   61
458     2022     Membres n'appartenant à aucun groupe politique    97   40
459     2022                                     Non-affiliated  1934  311

In [51]:
df_bernard = df_bernard[df_bernard['level_1'] != 'Non-affiliated']

In [52]:
df_bernard

     level_0                                            level_1    0   1
21      1971                 Groupe du Parti populaire européen    1   0
23      1972                 Groupe du Parti populaire européen    1   0
25      1973                 Groupe du Parti populaire européen    1   0
26      1973                                  Groupe socialiste    3   0
27      1973        Groupe des socialistes, démocrates et verts    1   0
..       ...                                                ...  ...  ..
461     2023                 Groupe du Parti populaire européen  107  86
462     2023  Groupe des Conservateurs européens et Alliance...   97  54
463     2023          Groupe pour la gauche unitaire européenne   32  24
464     2023  Alliance des démocrates et des libéraux pour l...   73  62
465     2023     Membres n'appartenant à aucun groupe politique   62  44

[393 rows x 4 columns]

In [53]:
df_export = df_bernard

In [54]:
df_export.to_excel('conseil_europeen.xlsx')

In [55]:
for_graphique['YearOut'] - for_graphique['YearIn']

0      -2017.0
1      -2022.0
2      -2022.0
3      -2022.0
4      -2022.0
         ...
9662       0.0
9663       0.0
9664       0.0
9665       2.0
9666       5.0
Length: 9667, dtype: float64

In [56]:
for_graphique['YearOut'] = for_graphique['YearOut'].fillna(0)

In [57]:
for_graphique['YearOut'] = for_graphique['YearOut'].replace(0, 2025)

In [58]:
for_graphique['avg_grp_politique'] = for_graphique['YearOut'] - for_graphique['YearIn']

In [59]:
for_graphique

,nometpenom,nom,prenom,MemberID,MemberGroupID,SexFR,StatusNameFR,DateOut,YearOut,GroupNameFR,GroupAbrevFR,GroupCode,DateIn,YearIn,BirthYear,CountryNameFR,age_in_position,avg_grp_politique
0,BUSHKAKlotilda,BUSHKA,Klotilda,7798,9751.0,Femme,Membre,NaN,2025.0,"Groupe des socialistes, démocrates et verts",SOC,G11,2023-01-23 00:00:00,2017,1979,Albanie,38,8.0
1,GJONAJEtilda,GJONAJ,Etilda,6607,8281.0,Femme,Membre,NaN,2025.0,"Groupe des socialistes, démocrates et verts",SOC,G11,2022-01-24 00:00:00,2022,1981,Albanie,41,3.0
2,GJYLAMETIBlerina,GJYLAMETI,Blerina,5634,10132.0,Femme,Membre,NaN,2025.0,"Groupe des socialistes, démocrates et verts",SOC,G11,2024-01-22 00:00:00,2022,1980,Albanie,42,3.0
3,MARAAurora,MARA,Aurora,6759,8284.0,Femme,Membre,NaN,2025.0,"Groupe des socialistes, démocrates et verts",SOC,G11,2022-01-24 00:00:00,2022,1978,Albanie,44,3.0
4,TABAKUJorida,TABAKU,Jorida,2919,8293.0,Femme,Membre,NaN,2025.0,Groupe du Parti populaire européen,PPE/DC,G2,2022-01-24 00:00:00,2022,1979,Albanie,43,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9662,KINNOULLArthurWilliam,KINNOULL,Arthur William,2365,NaN,Homme,NaN,NaN,1983.0,Non-affiliated,NaN,NaN,NaN,1983,1935,Royaume-Uni,48,0.0
9663,KINNOULLArthurWilliam,KINNOULL,Arthur William,2365,NaN,Homme,NaN,NaN,1986.0,Non-affiliated,NaN,NaN,NaN,1986,1935,Royaume-Uni,51,0.0
9664,LLOYDOFKILGERRAN,LLOYD OF KILGERRAN,NaN,1654,NaN,Homme,NaN,NaN,1975.0,Non-affiliated,NaN,NaN,NaN,1975,1907,Royaume-Uni,68,0.0
9665,WALLACEOFCOSLANY,WALLACE OF COSLANY,NaN,1783,NaN,Homme,NaN,NaN,1977.0,Non-affiliated,NaN,NaN,NaN,1975,1906,Royaume-Uni,69,2.0
9666,FRIESSENOttoB.,FRIESSEN,Otto B.,190,NaN,Homme,NaN,NaN,1954.0,Non-affiliated,NaN,NaN,NaN,1949,1901,Suède,48,5.0

In [60]:
for_graphique.to_excel('2_avg_grp.xlsx')

In [61]:
for_graphique[['GroupNameFR', 'GroupAbrevFR']].sample(20)

                                         GroupNameFR GroupAbrevFR
1160                       Groupe démocrate européen          GDE
1507  Membres n'appartenant à aucun groupe politique           NI
3196                               Groupe socialiste          SOC
1221                       Groupe démocrate européen          GDE
5236                                  Non-affiliated          NaN
6388                                  Non-affiliated          NaN
6377                                  Non-affiliated          NaN
5076                                  Non-affiliated          NaN
8196                                  Non-affiliated          NaN
2577              Groupe du Parti populaire européen       PPE/DC
7910                                  Non-affiliated          NaN
5843                                  Non-affiliated          NaN
2147  Membres n'appartenant à aucun groupe politique           NI
2116              Groupe du Parti populaire européen       PPE/DC
6207                                  Non-affiliated          NaN
9561                                  Non-affiliated          NaN
8824                                  Non-affiliated          NaN
7393                                  Non-affiliated          NaN
3777              Groupe du Parti populaire européen       PPE/DC
578               Groupe du Parti populaire européen       PPE/DC

In [62]:
graphique_avg = for_graphique.copy()

In [69]:
def keep_rows_year(row, year):
    if row['YearOut']:
        return (year <= row['YearOut']) & (year >= row['YearIn'])
    else:
        return (year >= row['YearIn'])
# c’est le boléan créé pour détecter si les gens qui sont présentes dans l’année désignée.
list_all_groupePolitique = graphique_avg['GroupNameFR'].unique()
list_all_groupePolitique
# c’est pour avoir une liste des groupe politique

array(['Groupe des socialistes, démocrates et verts',
       'Groupe du Parti populaire européen', 'Groupe socialiste',
       "Alliance des démocrates et des libéraux pour l'Europe",
       "Membres n'appartenant à aucun groupe politique",
       'Groupe des Conservateurs européens et Alliance démocratique',
       'Groupe pour la gauche unitaire européenne',
       'Groupe démocrate européen', 'Groupe des conservateurs européens',
       'Groupe des démocrates libres',
       'Groupe libéral, démocrate et réformateur', 'Non-affiliated'],
      dtype=object)

In [71]:
dic_ageMoyen_parGroupePolitique = {}
for year in range(1949, 2025):
    print(year)
    df_year = graphique_avg[graphique_avg.apply(keep_rows_year, args=(year,), axis=1)]

    for groupPolitiqueName in list_all_groupePolitique:
        df_groupepolitique = df_year[df_year['GroupNameFR'] == groupPolitiqueName]
        df_homme_ageM = df_groupepolitique[df_groupepolitique['SexFR'] == 'Homme']
        ageMoyen_hommes = df_homme_ageM['age_in_position'].mean()
        df_femme_ageM = df_groupepolitique[df_groupepolitique['SexFR'] == 'Femme']
        ageMoyen_femmes = df_femme_ageM['age_in_position'].mean()
        dic_ageMoyen_parGroupePolitique[(year, groupPolitiqueName)] = (ageMoyen_hommes, ageMoyen_femmes)
dic_ageMoyen_parGroupeP = pd.DataFrame(dic_ageMoyen_parGroupePolitique)

1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024

In [73]:
dic_groupe = dic_ageMoyen_parGroupeP.T

In [79]:
dic_groupe.tail(50)

                                                                 0          1
2020 Groupe libéral, démocrate et réformateur                  NaN        NaN
     Non-affiliated                                      49.023001  49.103679
2021 Groupe des socialistes, démocrates et verts         45.819095  45.478261
     Groupe du Parti populaire européen                  44.828571  46.640777
     Groupe socialiste                                         NaN        NaN
     Alliance des démocrates et des libéraux pour l'...  45.456790  44.166667
     Membres n'appartenant à aucun groupe politique      46.103774  43.038462
     Groupe des Conservateurs européens et Alliance ...  46.943182  46.600000
     Groupe pour la gauche unitaire européenne           48.350000  43.708333
     Groupe démocrate européen                                 NaN        NaN
     Groupe des conservateurs européens                        NaN        NaN
     Groupe des démocrates libres                              NaN        NaN
     Groupe libéral, démocrate et réformateur                  NaN        NaN
     Non-affiliated                                      48.993211  48.986928
2022 Groupe des socialistes, démocrates et verts         44.908537  46.016667
     Groupe du Parti populaire européen                  46.103175  47.166667
     Groupe socialiste                                         NaN        NaN
     Alliance des démocrates et des libéraux pour l'...  46.721519  44.852459
     Membres n'appartenant à aucun groupe politique      47.721649  42.200000
     Groupe des Conservateurs européens et Alliance ...  48.127660  47.325000
     Groupe pour la gauche unitaire européenne           47.446809  45.000000
     Groupe démocrate européen                                 NaN        NaN
     Groupe des conservateurs européens                        NaN        NaN
     Groupe des démocrates libres                              NaN        NaN
     Groupe libéral, démocrate et réformateur                  NaN        NaN
     Non-affiliated                                      48.994829  48.874598
2023 Groupe des socialistes, démocrates et verts         45.493243  47.573913
     Groupe du Parti populaire européen                  46.850467  46.197674
     Groupe socialiste                                         NaN        NaN
     Alliance des démocrates et des libéraux pour l'...  47.630137  43.225806
     Membres n'appartenant à aucun groupe politique      46.677419  44.954545
     Groupe des Conservateurs européens et Alliance ...  48.639175  49.388889
     Groupe pour la gauche unitaire européenne           46.031250  46.333333
     Groupe démocrate européen                                 NaN        NaN
     Groupe des conservateurs européens                        NaN        NaN
     Groupe des démocrates libres                              NaN        NaN
     Groupe libéral, démocrate et réformateur                  NaN        NaN
     Non-affiliated                                      49.030067  48.756329
2024 Groupe des socialistes, démocrates et verts         46.038835  48.105263
     Groupe du Parti populaire européen                  46.068182  45.085714
     Groupe socialiste                                         NaN        NaN
     Alliance des démocrates et des libéraux pour l'...  47.580645  42.235294
     Membres n'appartenant à aucun groupe politique      47.351351  44.178571
     Groupe des Conservateurs européens et Alliance ...  48.445946  49.653061
     Groupe pour la gauche unitaire européenne           43.666667  47.882353
     Groupe démocrate européen                                 NaN        NaN
     Groupe des conservateurs européens                        NaN        NaN
     Groupe des démocrates libres                              NaN        NaN
     Groupe libéral, démocrate et réformateur                  NaN        NaN
     Non-affiliated                                      49.024390  48.718354

In [82]:
dic_group = dic_groupe.fillna(0)

In [95]:
dic_group.tail(50)

,level_0,level_1,0,1
862,2020,"Groupe libéral, démocrate et réformateur",0.000000,0.000000
863,2020,Non-affiliated,49.023001,49.103679
864,2021,"Groupe des socialistes, démocrates et verts",45.819095,45.478261
865,2021,Groupe du Parti populaire européen,44.828571,46.640777
866,2021,Groupe socialiste,0.000000,0.000000
867,2021,Alliance des démocrates et des libéraux pour l...,45.456790,44.166667
868,2021,Membres n'appartenant à aucun groupe politique,46.103774,43.038462
869,2021,Groupe des Conservateurs européens et Alliance...,46.943182,46.600000
870,2021,Groupe pour la gauche unitaire européenne,48.350000,43.708333
871,2021,Groupe démocrate européen,0.000000,0.000000
872,2021,Groupe des conservateurs européens,0.000000,0.000000
873,2021,Groupe des démocrates libres,0.000000,0.000000
874,2021,"Groupe libéral, démocrate et réformateur",0.000000,0.000000
875,2021,Non-affiliated,48.993211,48.986928
876,2022,"Groupe des socialistes, démocrates et verts",44.908537,46.016667
877,2022,Groupe du Parti populaire européen,46.103175,47.166667
878,2022,Groupe socialiste,0.000000,0.000000
879,2022,Alliance des démocrates et des libéraux pour l...,46.721519,44.852459
880,2022,Membres n'appartenant à aucun groupe politique,47.721649,42.200000
881,2022,Groupe des Conservateurs européens et Alliance...,48.127660,47.325000
882,2022,Groupe pour la gauche unitaire européenne,47.446809,45.000000
883,2022,Groupe démocrate européen,0.000000,0.000000
884,2022,Groupe des conservateurs européens,0.000000,0.000000
885,2022,Groupe des démocrates libres,0.000000,0.000000
886,2022,"Groupe libéral, démocrate et réformateur",0.000000,0.000000
887,2022,Non-affiliated,48.994829,48.874598
888,2023,"Groupe des socialistes, démocrates et verts",45.493243,47.573913
889,2023,Groupe du Parti populaire européen,46.850467,46.197674
890,2023,Groupe socialiste,0.000000,0.000000
891,2023,Alliance des démocrates et des libéraux pour l...,47.630137,43.225806
892,2023,Membres n'appartenant à aucun groupe politique,46.677419,44.954545
893,2023,Groupe des Conservateurs européens et Alliance...,48.639175,49.388889
894,2023,Groupe pour la gauche unitaire européenne,46.031250,46.333333
895,2023,Groupe démocrate européen,0.000000,0.000000
896,2023,Groupe des conservateurs européens,0.000000,0.000000
897,2023,Groupe des démocrates libres,0.000000,0.000000
898,2023,"Groupe libéral, démocrate et réformateur",0.000000,0.000000
899,2023,Non-affiliated,49.030067,48.756329
900,2024,"Groupe des socialistes, démocrates et verts",46.038835,48.105263
901,2024,Groupe du Parti populaire européen,46.068182,45.085714
902,2024,Groupe socialiste,0.000000,0.000000
903,2024,Alliance des démocrates et des libéraux pour l...,47.580645,42.235294
904,2024,Membres n'appartenant à aucun groupe politique,47.351351,44.178571
905,2024,Groupe des Conservateurs européens et Alliance...,48.445946,49.653061
906,2024,Groupe pour la gauche unitaire européenne,43.666667,47.882353
907,2024,Groupe démocrate européen,0.000000,0.000000
908,2024,Groupe des conservateurs européens,0.000000,0.000000
909,2024,Groupe des démocrates libres,0.000000,0.000000
910,2024,"Groupe libéral, démocrate et réformateur",0.000000,0.000000
911,2024,Non-affiliated,49.024390,48.718354

In [85]:
dic_group = dic_group.reset_index()

In [91]:
dic_group


dic_group_final = dic_group[dic_group['level_0'] != 2024]

In [96]:
dic_group_final.tail(50)

,level_0,level_1,0,1
850,2019,"Groupe libéral, démocrate et réformateur",0.000000,0.000000
851,2019,Non-affiliated,49.003671,49.043919
852,2020,"Groupe des socialistes, démocrates et verts",46.672811,45.507937
853,2020,Groupe du Parti populaire européen,45.388158,46.064220
854,2020,Groupe socialiste,0.000000,0.000000
855,2020,Alliance des démocrates et des libéraux pour l...,45.956989,45.672727
856,2020,Membres n'appartenant à aucun groupe politique,46.198113,43.638298
857,2020,Groupe des Conservateurs européens et Alliance...,46.445455,46.666667
858,2020,Groupe pour la gauche unitaire européenne,48.102564,44.428571
859,2020,Groupe démocrate européen,0.000000,0.000000
860,2020,Groupe des conservateurs européens,0.000000,0.000000
861,2020,Groupe des démocrates libres,0.000000,0.000000
862,2020,"Groupe libéral, démocrate et réformateur",0.000000,0.000000
863,2020,Non-affiliated,49.023001,49.103679
864,2021,"Groupe des socialistes, démocrates et verts",45.819095,45.478261
865,2021,Groupe du Parti populaire européen,44.828571,46.640777
866,2021,Groupe socialiste,0.000000,0.000000
867,2021,Alliance des démocrates et des libéraux pour l...,45.456790,44.166667
868,2021,Membres n'appartenant à aucun groupe politique,46.103774,43.038462
869,2021,Groupe des Conservateurs européens et Alliance...,46.943182,46.600000
870,2021,Groupe pour la gauche unitaire européenne,48.350000,43.708333
871,2021,Groupe démocrate européen,0.000000,0.000000
872,2021,Groupe des conservateurs européens,0.000000,0.000000
873,2021,Groupe des démocrates libres,0.000000,0.000000
874,2021,"Groupe libéral, démocrate et réformateur",0.000000,0.000000
875,2021,Non-affiliated,48.993211,48.986928
876,2022,"Groupe des socialistes, démocrates et verts",44.908537,46.016667
877,2022,Groupe du Parti populaire européen,46.103175,47.166667
878,2022,Groupe socialiste,0.000000,0.000000
879,2022,Alliance des démocrates et des libéraux pour l...,46.721519,44.852459
880,2022,Membres n'appartenant à aucun groupe politique,47.721649,42.200000
881,2022,Groupe des Conservateurs européens et Alliance...,48.127660,47.325000
882,2022,Groupe pour la gauche unitaire européenne,47.446809,45.000000
883,2022,Groupe démocrate européen,0.000000,0.000000
884,2022,Groupe des conservateurs européens,0.000000,0.000000
885,2022,Groupe des démocrates libres,0.000000,0.000000
886,2022,"Groupe libéral, démocrate et réformateur",0.000000,0.000000
887,2022,Non-affiliated,48.994829,48.874598
888,2023,"Groupe des socialistes, démocrates et verts",45.493243,47.573913
889,2023,Groupe du Parti populaire européen,46.850467,46.197674
890,2023,Groupe socialiste,0.000000,0.000000
891,2023,Alliance des démocrates et des libéraux pour l...,47.630137,43.225806
892,2023,Membres n'appartenant à aucun groupe politique,46.677419,44.954545
893,2023,Groupe des Conservateurs européens et Alliance...,48.639175,49.388889
894,2023,Groupe pour la gauche unitaire européenne,46.031250,46.333333
895,2023,Groupe démocrate européen,0.000000,0.000000
896,2023,Groupe des conservateurs européens,0.000000,0.000000
897,2023,Groupe des démocrates libres,0.000000,0.000000
898,2023,"Groupe libéral, démocrate et réformateur",0.000000,0.000000
899,2023,Non-affiliated,49.030067,48.756329

In [94]:
dic_group_final.to_excel('age_moyen_final.xlsx')